.wrapper__reviews {
   padding-top: calc(60px + (95 - 60) * ((100vw - 320px) / (1200 - 320)));
   padding-bottom: calc(55px + (150 - 55) * ((100vw - 320px) / (1200 - 320)));
}

.swiper-horizontal > .swiper-pagination-bullets {
   bottom: 10px;
}

.swiper-pagination-bullets {
   // position: relative;
   // position: absolute;
   // top: 200px;
}

.swiper-wrapper-review {
   // position: relative;
}

.swiper-pagination-review {
   // position: absolute;
   // top: 200px;
}

.swiper-pagination-review > .swiper-pagination-bullet {
   top: 100px;
   width: 16px;
   height: 16px;
   // border: 5px solid #000;
   border: 2px solid rgba(221, 233, 180, 1);
   // line-height: 16;
   // background-color: rgba(255, 255, 255, 1);
   // background-color: rgba(221, 233, 180, 1);
}

.swiper-pagination-bullet-active {
   // width: 16px;
   // height: 16px;
   // // border: 5px solid #000;
   // border: 2px solid rgba(255, 0, 0, 1);
   // line-height: 16;
   // background-color: rgba(255, 0, 0, 0);
}

.reviews {
   &__heading {
      color: #3e4757;
      font-size: calc(42px + (64 - 42) * ((100vw - 320px) / (1200 - 320)));
      font-family: Neucha;
      font-weight: normal;
      margin-top: calc(24px + (41 - 24) * ((100vw - 320px) / (1200 - 320)));
      margin-bottom: calc(18px + (57 - 18) * ((100vw - 320px) / (1200 - 320)));
   }
   &__stories {
      display: flex;
      flex-direction: column;
      gap: 110px;
   }
}

.review {
   border-radius: 10px;
   background: #dde9b5;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   padding-right: 70px;
   display: grid;
   grid-template-columns: 40% 60%;
   gap: 70px;
   &__slider {
      grid-column: 1;
      &_img {
         width: 100%;
         height: 100%;
         // margin-bottom: 36px;
      }
   }
   &__info {
      grid-column: 2;
      padding-top: 40px;
      padding-right: 70px;
      padding-bottom: 13px;
      padding-left: 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 20% minmax(max-content, auto) 20%;
   }
   &__icon {
      &_block {
         margin-bottom: 30px;
         text-align: center;
         position: relative;
         &_video {
            &::before {
               content: "";
               position: absolute;
               width: 63px;
               height: 58px;
               left: 0px;
               background: center / contain no-repeat url("../img/reviews/icon_video.svg");
               cursor: pointer;
            }
         }
      }
      &_quotation {
         width: 74px;
      }
   }
   &__text {
      &_block {
         overflow: hidden;
         height: 240px;
      }
      &_content {
         color: #3e4757;
         font-size: 24px;
         font-family: Neucha;
         padding-top: 0;
         overflow: hidden;
      }
   }
   &__author {
      display: flex;
      justify-content: end;
      align-items: end;
      &_name {
         color: #3e4757;
         text-align: right;
         font-size: 40px;
         font-family: Neucha;
      }
   }
}

/* Ограничение 1200px при большом экране и если размер выражен через vw*/
@media (max-width: 1200px) and (min-width: 850px) {
   .reviews__stories {
      gap: calc(60px + (110 - 60) * ((100vw - 850px) / (1200 - 850)));
   }

   .review {
      padding-right: calc(30px + (70 - 30) * ((100vw - 850px) / (1200 - 850)));
      gap: calc(30px + (70 - 30) * ((100vw - 850px) / (1200 - 850)));
   }

   .review__info {
      padding-right: calc(30px + (70 - 30) * ((100vw - 850px) / (1200 - 850)));
      padding-top: calc(16px + (40 - 16) * ((100vw - 850px) / (1200 - 850)));
   }

   .review__text_block {
      height: calc(140px + (250 - 150) * ((100vw - 850px) / (1200 - 850)));
   }

   .review__text_content {
      font-size: calc(16px + (24 - 16) * ((100vw - 850px) / (1200 - 850)));
   }

   .review__author_name {
      font-size: calc(24px + (40 - 24) * ((100vw - 850px) / (1200 - 850)));
   }

   .review__icon_block_video::before {
      width: calc(42px + (63 - 42) * ((100vw - 850px) / (1200 - 850)));
      height: calc(40px + (58 - 40) * ((100vw - 850px) / (1200 - 850)));
   }

   .review__icon_quotation {
      width: calc(45px + (74 - 45) * ((100vw - 850px) / (1200 - 850)));
      height: calc(40px + (58 - 40) * ((100vw - 850px) / (1200 - 850)));
   }
}

@media (max-width: 850px) {
   .reviews__stories {
      gap: 60px;
   }

   .review {
      grid-template-columns: 321px minmax(5em, max-content);
      grid-template-rows: 321px;
      padding-right: calc(14px + (30 - 14) * ((100vw - 600px) / (850 - 600)));
      gap: calc(14px + (30 - 14) * ((100vw - 600px) / (850 - 600)));
   }

   .review__info {
      padding-top: 16px;
      padding-right: 0;
   }

   .review__text_block {
      display: flex;
      justify-content: end;
      height: 150px;
   }

   .review__text_content {
      font-size: 16px;
   }

   .review__author_name {
      font-size: 24px;
   }

   .review__icon_block_video::before {
      width: 42px;
      height: 40px;
   }

   .review__icon_quotation {
      width: 45px;
      height: 40px;
   }
}

@media (max-width: 600px) {
   .reviews__stories {
      gap: calc(35px + (60 - 35) * ((100vw - 320px) / (600 - 320)));
   }

   .reviews__heading {
      text-align: center;
   }

   .review {
      grid-template-columns: 100%;
      // grid-template-rows: max-content max-content max-content;
      grid-template-rows: minmax(3em, max-content) auto;
      padding-right: 14px;
      padding-left: 14px;
      padding-top: 14px;
   }

   .review__slider {
      grid-column: 1;
      grid-row: 1;
   }

   .review__slider_img {
      width: 100%;
   }

   .review__info {
      grid-column: 1;
      grid-row: 2;
   }
}

.visible {
   opacity: 1;
   display: block;
}
