.card__wrapper-main {
   padding-top: calc(95px + 40px);
}

.video-block__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 64px;
   line-height: 70px;
   /* text-align: center; */
   color: #3E4757;
   margin-bottom: 40px;
}

.link-block {
   display: flex;
   align-items: center;
   max-width: 280px;
   max-height: 50px;
   background: #E5EFF7;
   box-shadow: 0px 4px 0px #D0EAFF;
   border-radius: 5px;
   padding: 0px 19px 0px 24px;
   cursor: pointer;
}

.link-block span {
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 26px;
   color: #3E4757;
   vertical-align: middle;
}

.share {
   width: 30px;
   height: 30px;
   margin-right: 23px;
   vertical-align: middle;
}

.sex-sign {
   width: 65px;
   height: 64px;
   margin-left: 25px;
   vertical-align: middle;
}

.video-block__body {
   display: flex;
   justify-content: space-between;
   margin-bottom: 90px;
}

.video-block__info-unit {
   padding-top: 40px;
}

.video-block__info {
   display: flex;
}

.video-block__info:not(:first-child) {
   margin-bottom: 45px;
}

.video-block__info:first-child {
   margin-bottom: 30px;
}

.video-block__info>img {
   width: 60px;
   height: 60px;
}

.video-block__info span {
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 26px;
   color: #3E4757;
}

.video__text-block {
   margin-left: 20px;
   margin-right: 25px;
}

.video__text-block>span:first-child {
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 26px;
   color: #A2C53A;
}

.worksheet__text-block a {
   text-decoration: none;
}

.worksheet__text-block a>span {
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 26px;
   color: #B57EDC;
}

.click-info {
   width: 24px;
   height: 24px;
}

.relatives__text-block a {
   text-decoration: none;
   display: inline-block;
   justify-self: end;
}

.relatives__text-block a>span {
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 26px;
   color: #B57EDC;
}

.video-block__slider {
   /* min-width: 0; */
   max-width: 790px;
   width: calc((100vw - 30px));
   display: flex;
}

.video-block__slider iframe {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}

/* .video-block__slider iframe {
   max-width: 790px;
   max-height: 445px;
} */

.main__text-block {
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 26px;
   color: #3E4757;
   margin-bottom: 60px;
}

.main__text-block p:not(:last-child) {
   margin-bottom: 30px;
}

.main__text-block span {
   color: #A2C53A;
}

.main__image-block {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card {
   max-width: 355px;
   max-height: 355px;
   position: relative;
   margin-bottom: 53px;
}

.card a>img {
   width: 100%;
}

.card-info {
   position: absolute;
   bottom: 11px;
   left: 20px;
}

.image-date {
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 20px;
   color: #FFFFFF;
}

@media (max-width: 1230px) {
   .video-block__body {
      flex-direction: column;
      align-items: center;
   }

   .video-block__info-unit {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 0;
   }

   .video-block__slider {
      aspect-ratio: 16 / 9;
   }
}

@media (max-width: 1125px) {
   .video-block__body {
      margin-bottom: 70px;
   }

   .main__text-block {
      margin-bottom: 40px;
      font-size: calc(17px + (24 - 17) * ((100vw - 750px) / (1125 - 750)));
      line-height: calc(19px + (26 - 19) * ((100vw - 750px) / (1125 - 750)));
   }

   .card {
      margin-bottom: 36px;
   }
}

/* @media (max-width: 830px) { */
@media (max-width: 750px) {
   .card__wrapper-main {
      padding-top: calc(78px + 40px - 14px);
   }

   .video-block__header {
      font-size: calc(34px + (64 - 34) * ((100vw - 320px) / (750 - 320)));
      line-height: calc(37px + (70 - 37) * ((100vw - 320px) / (750 - 320)));
   }

   .sex-sign {
      width: calc(33px + (65 - 33) * ((100vw - 320px) / (750 - 320)));
      height: calc(32px + (64 - 32) * ((100vw - 320px) / (750 - 320)));
      margin-left: calc(13px + (25 - 13) * ((100vw - 320px) / (750 - 320)));
   }

   .link-block {
      padding: 0;
      justify-content: center;
      padding: 1px 12px;
      max-height: 39px;
   }

   .link-block img,
   .share {
      max-width: 20px;
      max-height: 20px;
      margin: 0;
   }

   .link-block span {
      display: none;
   }

   .video-block__body {
      margin-bottom: 30px;
   }

   .video-block__info>img {
      width: 50px;
      height: 50px;
   }

   .video__text-block span,
   .video__text-block span:first-child,
   .video__text-block a>span {
      font-size: 20px;
      line-height: 22px;
   }

   .main__text-block {
      margin-bottom: 30px;
      font-size: calc(15px + (17 - 15) * ((100vw - 545px) / (750 - 545)));
      line-height: calc(17px + (19 - 17) * ((100vw - 545px) / (750 - 545)));
   }

   .main__image-block {
      justify-content: space-around;
   }

   .card {
      margin-bottom: 20px;
   }
}

@media (max-width: 545px) {
   .card__wrapper-main {
      padding-top: calc(65px + 30px);
   }

   .video-block__info-unit {
      grid-template-columns: 1fr;
   }

   .main__text-block {
      font-size: 15px;
      line-height: 17px;
   }
}