.card__wrapper-main {
   padding-top: calc(100px + 50px);
}

.video-block__header {
   display: flex;
   justify-content: space-between;
   /* align-items: center; */
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 64px;
   line-height: 70px;
   /* text-align: center; */
   color: #3E4757;
   margin-bottom: 50px;
}

.link-block {
   background: #E5EFF7;
   box-shadow: 0px 4px 0px #D0EAFF;
   border-radius: 5px;
   padding: 0px 19px 0px 24px;
   cursor: pointer;
}

.link-block span {
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 26px;
   color: #3E4757;
   vertical-align: middle;
}

.share {
   width: 30px;
   height: 30px;
   margin-right: 23px;
   vertical-align: middle;
}

.sex-sign {
   width: 65px;
   height: 64px;
   margin-left: 25px;
   vertical-align: middle;
}

.main__text-block {
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 26px;

   color: #3E4757;
}

.main__text-block p:not(:last-child) {
   margin-bottom: 30px;
}

.main__text-block span {
   color: #A2C53A;
}

.main__image-block {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   /* justify-content: space-between; */
   justify-content: space-around;
   /* overflow: hidden; */
}

.card {
   max-width: 355px;
   max-height: 355px;
   position: relative;
   margin-bottom: 50px;
}

.card-info {
   position: absolute;
   bottom: 11px;
   left: 20px;
}

.image-date {
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 20px;
   color: #FFFFFF;
}