.wrapper-main_category {
   position: relative;
}

.wrapper-main_category>img {
   position: absolute;
}

.stars-01 {
   top: 603px;
   left: 35px;
}

.rocket-01 {
   top: 1277px;
   right: 72px;
}

.section-main_category {
   width: 100%;
   display: flex;
   flex-direction: row;
   margin-bottom: 46px;
   justify-content: center;
}

.section-main__form {
   width: 100%;
}

.section-main__form-table {
   width: 100%;
   margin-top: 40px;
}

.main__form-item {
   display: inline;
}

.main__form-list {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: end;
   grid-template-rows: 100px;
   gap: 45px;
}

.section-main__form-img {
   margin-bottom: -86px;
   justify-self: center;
}

.cards {
   overflow: hidden;
   border-radius: 20px;
}

.cards-container {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   /* justify-content: space-between; */
   justify-content: space-around;
   /* overflow: hidden; */
}

.card {
   max-width: 355px;
   max-height: 355px;
   /* margin-bottom: 50px; */
}

.card img {
   width: 100%;
}

.swiper {
   width: 100%;
}

/* .swiper-wrapper {
   margin-bottom: 50px;
} */

.swiper-slide {
   margin-bottom: 100px;
}

.slide-item {
   margin-bottom: 50px;
   max-width: 355px;
}

.slide-item img {
   width: 100%;
}

.swiper-slide {
   margin-bottom: 25px;
}

.swiper-pagination {
   bottom: 40px;
}

@media (max-width: 1100px) {
   .section-main__form-table {
      /* width: 100%; */
      /* margin-top: 115px; */
      margin-top: 25px;
   }

   .main__form-list {
      grid-template-columns: 1fr 1fr;
      gap: 45px;
   }

   .section-main__form-img {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      margin-bottom: -40px;
   }

   .main__form-fieldset legend {
      text-align: start;
   }

   /* .legend {
      text-align: start;
   } */
}

@media (max-width: 750px) {
   .section-main__form-table {
      /* width: 100%; */
      margin-top: 155px;
   }

   .main__form-fieldset legend {
      text-align: center;
   }

   .main__form-list {
      grid-template-columns: 1fr;
      margin-top: -120px;
   }

   .section-main__form-img {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      margin-bottom: 5px;
   }

   .stars-01 {
      top: 1120px;
   }

   .rocket-01 {
      top: 2100px;
   }

   .main__form-item {
      margin-bottom: -20px;
   }
}