.wrapper-header_news {}

.wrapper-slider {
   /* margin-top: 140px; */
   padding-top: 140px;
}

.news-header {
   color: black;
   font-size: 16px;
   text-align: center;
}

.swiper-slide__block {
   text-align: center;
   /* margin-top: 150px; */
}