.wrapper__reviews {
   padding-top: calc(60px + (95 - 60) * ((100vw - 320px) / (1200 - 320)));
   padding-bottom: calc(55px + (150 - 55) * ((100vw - 320px) / (1200 - 320)));
}

.reviews__heading {
   color: #3E4757;
   font-size: calc(42px + (64 - 42) * ((100vw - 320px) / (1200 - 320)));
   font-family: Neucha;
   font-weight: normal;
   margin-top: calc(24px + (41 - 24) * ((100vw - 320px) / (1200 - 320)));
   margin-bottom: calc(18px + (57 - 18) * ((100vw - 320px) / (1200 - 320)));
}

.reviews__stories {
   display: flex;
   flex-direction: column;
   gap: 110px;
}

.review {
   border-radius: 10px;
   background: #DDE9B5;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   padding-right: 70px;
   display: grid;
   grid-template-columns: 40% 60%;
   gap: 70px;
}

.review__slider {
   grid-column: 1;
}

.review__slider_img {
   width: 100%;
}

.review__info {
   grid-column: 2;
   padding-top: 40px;
   padding-right: 70px;
   padding-bottom: 13px;
   padding-left: 0;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 20% minmax(max-content, auto) 20%;
}

.review__icon_block {
   margin-bottom: 30px;
   text-align: center;
   position: relative;
}

.review__icon_block_video::before {
   content: "";
   position: absolute;
   width: 63px;
   height: 58px;
   left: 0px;
   background: center / contain no-repeat url('../img/reviews/icon_video.svg');
   cursor: pointer;
}

.review__icon_quotation {
   width: 74px;
}

.review__text_block {
   overflow: hidden;
   height: 240px;
}

.review__text_content {
   color: #3E4757;
   font-size: 24px;
   font-family: Neucha;
   padding-top: 0;
   overflow: hidden;
}

.review__author {
   display: flex;
   justify-content: end;
   align-items: end;
}

.review__author_name {
   color: #3E4757;
   text-align: right;
   font-size: 40px;
   font-family: Neucha;
}

/* Ограничение 1200px при большом экране и если размер выражен через vw*/
@media (max-width: 1200px) and (min-width: 850px) {
   .reviews__stories {
      gap: calc(60px + (110 - 60) * ((100vw - 850px) / (1200 - 850)));
   }

   .review {
      padding-right: calc(30px + (70 - 30) * ((100vw - 850px) / (1200 - 850)));
      gap: calc(30px + (70 - 30) * ((100vw - 850px) / (1200 - 850)));
   }

   .review__info {
      padding-right: calc(30px + (70 - 30) * ((100vw - 850px) / (1200 - 850)));
      padding-top: calc(16px + (40 - 16) * ((100vw - 850px) / (1200 - 850)));
   }

   .review__text_block {
      height: calc(140px + (250 - 150) * ((100vw - 850px) / (1200 - 850)));
   }

   .review__text_content {
      font-size: calc(16px + (24 - 16) * ((100vw - 850px) / (1200 - 850)));
   }

   .review__author_name {
      font-size: calc(24px + (40 - 24) * ((100vw - 850px) / (1200 - 850)));
   }

   .review__icon_block_video::before {
      width: calc(42px + (63 - 42) * ((100vw - 850px) / (1200 - 850)));
      height: calc(40px + (58 - 40) * ((100vw - 850px) / (1200 - 850)));
   }

   .review__icon_quotation {
      width: calc(45px + (74 - 45) * ((100vw - 850px) / (1200 - 850)));
      height: calc(40px + (58 - 40) * ((100vw - 850px) / (1200 - 850)));
   }
}

@media (max-width: 850px) {
   .reviews__stories {
      gap: 60px;
   }

   .review {
      grid-template-columns: 321px minmax(5em, max-content);
      grid-template-rows: 321px;
      padding-right: calc(14px + (30 - 14) * ((100vw - 600px) / (850 - 600)));
      gap: calc(14px + (30 - 14) * ((100vw - 600px) / (850 - 600)));
   }

   .review__info {
      padding-top: 16px;
      padding-right: 0;
   }

   .review__text_block {
      display: flex;
      justify-content: end;
      height: 150px;
   }

   .review__text_content {
      font-size: 16px;
   }

   .review__author_name {
      font-size: 24px;
   }

   .review__icon_block_video::before {
      width: 42px;
      height: 40px;
   }

   .review__icon_quotation {
      width: 45px;
      height: 40px;
   }
}

@media (max-width: 600px) {
   .reviews__stories {
      gap: calc(35px + (60 - 35) * ((100vw - 320px) / (600 - 320)));
   }

   .review {
      grid-template-columns: 100%;
      grid-template-rows: minmax(5em, max-content) auto;
      padding-right: 14px;
      padding-left: 14px;
      padding-top: 14px;
   }

   .reviews__heading {
      text-align: center;
   }

   .review__slider {
      grid-row: 1;
      grid-column: 1;
   }

   .review__info {
      grid-column: 1;
      grid-row: 2;
   }
}