@font-face {
   font-family: 'TT Commons Regular';
   src: url('../fonts/TTCommons-Regular.eot');
   src: url('../fonts/TTCommons-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTCommons-Regular.woff') format('woff'),
      url('../fonts/TTCommons-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

/* .box-name {
   font-family: 'TT Commons Regular';
   font-family: 'Neucha', cursive;
   font-family: 'Open Sans', sans-serif;
} */

*,
*:after,
*:before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html,
body {
   /* font-size: 16px; */
   font-size: 62.5%;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   color: #ffffff;
   margin: 0;
   margin: auto;
   padding: 0;
   background-color: #f4f5f8;
   /* background-color: rgb(255, 255, 255); */
}

.wrapper {
   margin: auto;
   width: 1920px;
   background-color: rgb(255, 255, 255);
}

.wrapper-header {
   background-color: #f4f5f8;
}

.container {
   /* position: relative; */
   width: 1170px;
   margin: auto;
}

.header {
   width: 100%;
   background-color: #f4f5f8;
   align-items: center;
   padding-top: 12px;
   padding-bottom: 12px;
}

.header-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   height: 40%;
}

.header-menu {
   display: flex;
   flex-direction: row;
   font-size: 16px;
}

.header-menu__item {
   margin-left: 31px;
   text-decoration: none;
}

.header-menu__item>a {
   text-decoration: none;
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 20px;
   color: #3E4757;
}

.section-main {
   width: 100%;
   display: flex;
   flex-direction: row;
   margin-bottom: 46px;
}

.section-main__form {
   display: flex;
   flex-direction: column;
}

.section-main__form-table {
   margin-top: -14px;
   border: #000000 1px solid;
   padding: 30px 60px 32px 60px;
   border-radius: 20px;
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 28px;
   line-height: 31px;
   /* text-align: center; */
   color: #3E4757;
}

.main__form-fieldset {
   border: none;
   padding: 0;
}

.main__form-fieldset legend {
   text-align: center;
}

.main__form-fieldset li {
   list-style-type: none;
}

.main__form-item {
   position: relative;
   margin-bottom: 3px;
   /* margin-top: 2px; */
}

.main__form-item label {
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   /* line-height: 24px; */
   line-height: 32px;
   color: #3E4757;
}

.main__form-item .input {
   /* content: ">"; */
   appearance: none;
   outline: none;
   border: none;
   /* overflow: hidden; */
   width: 100%;
   background: #E5EFF7;
   /* background: #E5EFF7 url('../img/select-arrow.svg') no-repeat right; */
   border-radius: 5px;
   padding: 10px 10px 10px 10px;
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 20px;
   color: #ABABAB;
   cursor: pointer;
}

.select-arrow {
   /* z-index: 1; */
   position: absolute;
   right: 10px;
   top: 50px;
   cursor: pointer;
}

.submit-button {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   /* padding-top: 13px; */
   width: 100%;
   outline: none;
   border: none;
   background: linear-gradient(180deg, #FFCB9D 0%, #FF9500 100%);
   box-shadow: 0px 4px 0px #BD6E28;
   border-radius: 5px;

   padding-top: 13px;
   padding-bottom: 7px;
   font-family: 'TT Commons';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   /* identical to box height */

   text-align: center;
   text-transform: uppercase;
   color: #fff;
   cursor: pointer;
}

.main__form-button {
   display: flex;
   flex-direction: row;
   position: relative;
}

.submit-button-arrow {
   position: absolute;
   right: 100px;
   bottom: 9px;
   cursor: pointer;
}

/* -------------------------------------------- */
.section-main__aside {
   display: flex;
   flex-direction: column;
   margin-left: 60px;
   padding-top: 40px;
}

.section-main__aside-info {
   z-index: 10;
}

/* hand image */
.section-main__aside-info img {
   top: 0;
   margin-right: 56px;
   float: right;
   margin-left: 50px;
   width: 192px;
   height: 141px;
}

.section-main__aside-header {
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 53px;

   color: #3E4757;
}

.aside-header__span {
   color: #FF9500;
}

.section-main__aside-text {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;

   color: #3E4757;
}

.section-main__aside-text:not(:last-child) {
   margin-bottom: 35px;
}

.section-main__aside-text a {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   text-decoration: none;

   color: #B57EDC;
}

.section-main__aside-text span {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   text-decoration: none;

   color: #B57EDC;
}

.section-main__aside-img {
   margin-left: 42px;
   margin-top: -20px;
}

.fund {
   width: 100%;
   padding-bottom: 120px;
}

.fund__header {
   width: 599px;
   margin: auto;
   margin-bottom: 60px;
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 35px;
   text-align: center;

   color: #3E4757;
}

.fund__services {
   width: 1039px;
   margin: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.fund__services p {
   margin-bottom: 100px;
}

.fund__service {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.service__legislation {
   width: 299px;
}

.service-info {
   margin-bottom: 10px;
}

.info-acception {
   margin-top: -188px;
}

.info-adoption {
   margin-top: -195px;
}

.info-legislation {
   margin-top: -192px;
}

.fund__service p {
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 20px;
   text-align: center;

   color: #3E4757;
   overflow-x: visible;
}

.fund__phone {
   width: 907px;
   margin: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.phone-item {
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 26px;
   text-align: center;

   color: #3E4757;
}

.number-phone {
   font-size: 36px;
   line-height: 40px;
   color: #B57EDC;
}

.time-phone {
   font-size: 18px;
   line-height: 20px;
   text-align: start;
   color: #3E4757;
}

.wrapper-footer {
   background: #DDE9B5;
}

.footer {
   width: 100%;
   padding-top: 37px;
   padding-bottom: 37px;
   /* padding: 37px, 0, 37px, 0; */
   /* height: 200px; */
   background-color: rgb(237, 172, 53, 0);
   font-family: 'Neucha', cursive;
   font-size: 30px;
}

.footer-copyright {
   font-family: 'Neucha';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 22px;

   color: #3E4757;
   text-align: center;
}